# syntax for armv4/5/6/7 assembly, used for .s/.S files by default
[submodule "pack/plugins/start/arm-syntax-vim"]
    path = pack/plugins/start/arm-syntax-vim
    url = https://github.com/ARM9/arm-syntax-vim
    shallow = true

# put git add/del/mod signs in the gutter column
[submodule "pack/plugins/start/vim-gitgutter"]
    path = pack/plugins/start/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter
    shallow = true

# <leader>ci to change inside brackets
[submodule "pack/plugins/start/change-inside-surroundings.vim"]
    path = pack/plugins/start/change-inside-surroundings.vim
    url = https://github.com/briandoll/change-inside-surroundings.vim
    shallow = true

# toml syntax, included in vim 8.2+ so get rid of this later
[submodule "pack/plugins/start/vim-toml"]
    path = pack/plugins/start/vim-toml
    url = https://github.com/cespare/vim-toml
    shallow = true

# linting
[submodule "pack/plugins/start/ale"]
    path = pack/plugins/start/ale
    url = https://github.com/dense-analysis/ale
    shallow = true

# tab completion
[submodule "pack/plugins/start/supertab"]
    path = pack/plugins/start/supertab
    url = https://github.com/ervandew/supertab
    shallow = true

# fuzzy file finding with <leader>b/e/r etc
[submodule "pack/plugins/start/fzf"]
    path = pack/plugins/start/fzf
    url = https://github.com/junegunn/fzf
    shallow = true
[submodule "pack/plugins/start/fzf.vim"]
    path = pack/plugins/start/fzf.vim
    url = https://github.com/junegunn/fzf.vim
    shallow = true

# alignment with ga
[submodule "pack/plugins/start/vim-easy-align"]
    path = pack/plugins/start/vim-easy-align
    url = https://github.com/junegunn/vim-easy-align
    shallow = true

# gruvbox theme
[submodule "pack/plugins/start/gruvbox"]
    path = pack/plugins/start/gruvbox
    url = https://github.com/morhetz/gruvbox
    shallow = true

# markdown syntax/mode
[submodule "pack/plugins/start/vim-markdown"]
    path = pack/plugins/start/vim-markdown
    url = https://github.com/preservim/vim-markdown
    shallow = true

# python code formatting
[submodule "pack/plugins/start/black"]
    path = pack/plugins/start/black
    url = https://github.com/psf/black
    shallow = true

# rust syntax
[submodule "pack/plugins/start/rust.vim"]
    path = pack/plugins/start/rust.vim
    url = https://github.com/rust-lang/rust.vim
    shallow = true

# comment/uncomment with <leader>c<space>
[submodule "pack/plugins/start/nerdcommenter"]
    path = pack/plugins/start/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter
    shallow = true

# visualise undo tree with F5
[submodule "pack/plugins/start/gundo.vim"]
    path = pack/plugins/start/gundo.vim
    url = https://github.com/sjl/gundo.vim
    shallow = true

# expand/shrink selection with v/c-v
[submodule "pack/plugins/start/vim-expand-region"]
    path = pack/plugins/start/vim-expand-region
    url = https://github.com/terryma/vim-expand-region
    shallow = true

# increment/decrement over multiple lines
[submodule "pack/plugins/start/vim-visual-increment"]
    path = pack/plugins/start/vim-visual-increment
    url = https://github.com/triglav/vim-visual-increment
    shallow = true

# status line
[submodule "pack/plugins/start/vim-airline"]
    path = pack/plugins/start/vim-airline
    url = https://github.com/vim-airline/vim-airline
    shallow = true
[submodule "pack/plugins/start/vim-airline-themes"]
    path = pack/plugins/start/vim-airline-themes
    url = https://github.com/vim-airline/vim-airline-themes
    shallow = true
[submodule "pack/plugins/start/typst"]
	path = pack/plugins/start/typst
	url = https://github.com/kaarmu/typst.vim
[submodule "pack/plugins/start/vim-just"]
	path = pack/plugins/start/vim-just
	url = https://github.com/NoahTheDuke/vim-just.git
